@model Calculator.Models.CalcModel

@{
    ViewData["Title"] = "Model Calc";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <div><b>Rand Value First : @Model.Num1</b></div>
    <div><b>Rand Value Second : @Model.Num2</b></div>
    <div><b>Add : </b></div>
    <div>@Model.Num1 + @Model.Num2 = @Model.Add</div>
    <div><b>Sub : </b></div>
    <div>@Model.Num1 - @Model.Num2 = @Model.Sub</div>
    <div><b>Mult : </b></div>
    <div>@Model.Num1 * @Model.Num2 = @Model.Mult</div>
    <div><b>Div : </b></div>
    <div>@Model.Num1 / @Model.Num2 = @Model.Div</div>
</div>