@model Calculator.Models.CalcModel

@{
    ViewData["Title"] = "ViewData Calc";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <div><b>Rand Value First : @ViewData["Num1"]</b></div>
    <div><b>Rand Value Second : @ViewData["Num2"]</b></div>
    <div><b>Add : </b></div>
    <div>@ViewData["Num1"] + @ViewData["Num2"] = @ViewData["Add"]</div>
    <div><b>Sub : </b></div>
    <div>@ViewData["Num1"] - @ViewData["Num2"] = @ViewData["Sub"]</div>
    <div><b>Mult : </b></div>
    <div>@ViewData["Num1"] * @ViewData["Num2"] = @ViewData["Mult"]</div>
    <div><b>Div : </b></div>
    <div>@ViewData["Num1"] / @ViewData["Num2"] = @ViewData["Div"]</div>
</div>